.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size:cover;
    }
    #mycanvas {
     border:10px ridge teal;
     background-color: beige;
    }